<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spam Detector</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">	
</head>
<body>

    <div id="navbar">
      Spam Bot
    </div>

    <div id="form-container">
      <form action="{{ url_for('sms_prediction') }}" method="post" id="text-form">
        <div class="mode-selector" id="mode-selector">
          <span style="font-weight: 600;">Mode</span>
          <button class="btn sms-b active" id="sms-selector">SMS</button>
          <button class="btn email-b" id="email-selector">Email</button>
        </div>
        <textarea name="text" id="text" cols="40" rows="40" placeholder="Enter the text or paste it here" required></textarea> <br><br>
        <div id="output-submit">
          <div class="result-flex">
              <div class="res" style="font-size: 17px; font-weight: bold;">Result: </div> 
              <div class="sms-res">{{sms_output}}</div>
              <div class="email-res">{{email_output}}</div>
          </div>
          <input type="submit" value="Check" id="submit-button">
        </div>
      </form>
    </div>
    <div class="summary-container">
      <div class="summary-heading">How it Works</div>
      <div class="card-row">
        <div class="summary-card">
          <div class="card-header">
            <div class="card-heading">SMS</div>
            <div class="card-explained">Everyday SMS can be used to scam people, <br> Be sure to check if it is a spam or not.</div>
          </div>
          <div class="card-content">
            <div class="cardinput-text">
              <h5 class="content-input-heading">Input</h5>
              <p class="input-example">Is this your bank account number XXXXXXXXX252, you have own a lot of money, congratulations.</p>
              <h5 class="content-output-heading">Output</h5>
              <p class="output-example">This SMS is a spam✔️</p>
            </div>
          </div>
        </div>
        <div class="summary-card">
          <div class="card-header">
            <div class="card-heading">Email</div>
            <div class="card-explained">Email are the main source of spams which may lead to hacked devices and accounts. For which checking if the mail is spam or not...</div>
          </div>
          <div class="card-content">
            <div class="cardinput-text">
              <h5 class="content-input-heading">Input</h5>
              <p class="input-example">Is this your bank account number XXXXXXXXX252, you have own a lot of money, congratulations.</p>
              <h5 class="content-output-heading">Output</h5>
              <p class="output-example">This Email is a spam✔️</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer-row">
        <div class="column">
          <div class="heading">Important Links</div>
          <ul class="list">
            <li class="li-ele"><a href="https://docs.python.org/3/" target="_blank">Python</a></li>
            <li class="li-ele"><a href="https://pandas.pydata.org/docs/" target="_blank">Pandas</a></li>
            <li class="li-ele"><a href="https://numpy.org/doc/" target="_blank">Numpy</a></li>
            <li class="li-ele"><a href="https://scikit-learn.org/stable/user_guide.html" target="_blank">Scikit-Learn</a></li>
            <li class="li-ele"><a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></li>
          </ul>
        </div>
        <div class="column">
          <div class="heading">Github<i class="fa-brands fa-github"></i></div>
          <ul class="list">
            <li class="li-ele"><a href="https://github.com/Simpl1fy" target="_blank">Gourab Das</a></li>
            <li class="li-ele"><a href="" target="_blank">Arijit Paul</a></li>
            <li class="li-ele"><a href="https://github.com/Arkajit-paul" target="_blank">Arkajit Paul</a></li>
          </ul>
        </div>
        <div class="column">
          <div class="heading">Contact Us</div>
          <ul class="list">
            <li class="li-ele"><a href="" target="_blank">Gmail<i class="fa-regular fa-envelope"></i></a></li>
            <li class="li-ele"><a href="" target="_blank">Twitter<i class="fa-brands fa-x-twitter"></i></a></li>
            <li class="li-ele"><a href="" target="_blank">Linkedin<i class="fa-brands fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="column">
          <div class="heading">Creator</div>
          <ul class="list">
            <li class="li-ele"><a href="{{ url_for('aboutFunction') }}" target="_blank">Know About Us</a></li>
          </ul>
        </div>
      </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>