<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spam Detector</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div id="navbar">
      Spam Bot
    </div>

    <div id="form-container">
      <form action="{{ url_for('sms_prediction') }}" method="post" id="text-form">
        <div class="mode-selector" id="mode-selector">
          <span>Mode</span>
          <button class="btn sms-b active" id="sms-selector">SMS</button>
          <button class="btn email-b" id="email-selector">Email</button>
        </div>
        <textarea name="text" id="text" cols="30" rows="40" placeholder="Enter the text or paste it here" required></textarea> <br><br>
        <div id="output-submit">
          <div class="result-flex">
            <!-- <span style="font-size: 17px; color: rgb(70, 70, 70);">{{sms_output}}</span>
            <span style="font-size: 17px; color: rgb(70, 70, 70);">{{email_output}}</span   -->
              Result: 
              <div class="sms-res">{{sms_output}}</div>
              <div class="email-res">{{email_output}}</div>
          </div>
          <input type="submit" value="Check" id="submit-button">
        </div>
      </form>
    </div>
    <div class="summary-container">
      <div class="summary-heading">How it Works</div>
      <div class="card-row">
        <div class="summary-card">
          <div class="card-header">
            <div class="card-heading">SMS</div>
            <div class="card-explained">Everyday SMS can be used to scam people, <br> Be sure to check if it is a spam or not.</div>
          </div>
          <div class="card-content">
            <div class="cardinput-text">
              <h5 class="content-input-heading">Input</h5>
              <p class="input-example">Is this your bank account number XXXXXXXXX252, you have own a lot of money, congratulations.</p>
              <h5 class="content-output-heading">Output</h5>
              <p class="output-example">This SMS is a spam✔️</p>
            </div>
          </div>
        </div>
        <div class="summary-card">
          <div class="card-header">
            <div class="card-heading">Email</div>
            <div class="card-explained">Email are the main source of spams which may lead to hacked devices and accounts. For which checking if the mail is spam or not...</div>
          </div>
          <div class="card-content">
            <div class="cardinput-text">
              <h5 class="content-input-heading">Input</h5>
              <p class="input-example">Is this your bank account number XXXXXXXXX252, you have own a lot of money, congratulations.</p>
              <h5 class="content-output-heading">Output</h5>
              <p class="output-example">This Email is a spam✔️</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>